*{ margin: 0; padding: 0;}
*{font-family: 'Roboto Condensed', sans-serif;}

body{ background:#F5F5F5;}

#cuerpo{ width: 75%; height: auto; background: #FAFAFA; margin: auto;  box-shadow: 5px 5px 18px #999;}

header, nav{ width: 100%; overflow: hidden; background: #ECEFF1; margin-bottom: 20px; color:#FAFAFA;}

header nav a:hover{ background: #B2EBF2; border-radius: 10px;}

#logo{ color: #263238; float: all; line-height: 80px;}

a{color: #263238; display: inline-block; text-decoration: none; padding: 10px 20px; font-size: 18px; -webkit-transition:all 500ms ease;  -o-transition:all 500ms ease; transition:all 500ms ease;}

.wrapper{ width: 90%; max-width: 1000px; margin: auto; overflow: hidden;}

footer{width: 100%; overflow: hidden; height:120px; background: #006064; margin-top: 40px; color:#FAFAFA;}

span{color:#FAFAFA; margin-top: 30px; float: left; float: left;}

#three-columns{ -webkit-column-count: 3; column-count: 3;}

/*estilo de caja de inicio de sesion*/
#login{width: 40%; margin-top:5%; margin-bottom:5%;}

.title{margin-bottom: 30px; font-size: 34px;}

.par, input{margin-bottom: 16px;}

/*formulario de registro*/

ul{ width:750px; list-style-position:outside;}
li{ padding:5px;  position:relative;}
label{ width:150px; margin-top: 2px; display:inline-block; float:left; padding:2px; color:#212121;}
input, select   {padding: 2px;}